// variable color
// $color-black-0: #000; // default
// $color-black-1:#2a2a2a;
// $color-black-2:#333333;
// $color-black-3:#636363;
// $color-white-0: #ffffff; //default
// $color-blue-0:#00ADEF;
// $color-blue-1:#009bd6;
// variable font-size



$color-black-0: #000; //default
$color-black-1: #141414;
$color-black-2: #212529;
$color-black-3: #333;
$color-black-4:#999999;
$color-white-1:#EFEFEF;



$color-white-0: #fff; // default
$color-gray-0: #ccc;
$color-gray-1: #999;
$color-gray-2: #ececec;

// $color-gray-2:
// $color-gray-3:
$color-blue-0:#00adef;
$color-blue-1:#0088c6;
$color-blue-2:#4dc6f4;





$fs-0: 14px; //default
$fs-1: 16px;
$fs-2: 22px;
$fs-3: 30px;
$fs-4: 35px;
$fs-5: 40px;
$fs-p: 11px;
//Còn 1 font-size: 36px;
//variable margin
$mg-0: 8px;
$mg-1: 10px;
$mg-2: 25px;
$mg-3: 20px;
$mg-4: 25px;

//variable border-radius
$border-radius: 2px;
//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 20px;
$pd-4: 30px;
$pd-5: 60px;
//variable line-height
$line-height-0: 1.43; //default
//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;
//break points
$breakpoints:( 'extra-large': 1200px, 'large': 992px, 'medium': 768px, 'maxmedium': 767px, 'small': 576px, )
